{% extends 'base.html' %}

{% block title %}Pedidos de Antecipação{% endblock %}

{% block content %}
<div class="offset-1 col-10 list-div">
    <h1>Pedidos de Antecipação</h1>
    <ul class="anticipate-list">
        {% for anticipate in anticipates %}

            {% if anticipate.status == 'not_reviewed' %}
            <li class="anticipate-item not_reviewed">
            <span><a href="/anticipate/{{anticipate.id}}">Venc. Antigo: {{anticipate.old_due_date}}, Novo Venc. {{anticipate.new_due_date}} Valor Antigo: R${{anticipate.original_value}} Novo Valor: R${{anticipate.new_value}} Status: {{anticipate.status}}</a></span>

            {% elif anticipate.status == 'accepted' %}
            <li class="anticipate-item accepted">
            <span><a href="/anticipate/{{anticipate.id}}">Venc. Antigo: {{anticipate.old_due_date}}, Novo Venc. {{anticipate.new_due_date}} Valor Antigo: R${{anticipate.original_value}} Novo Valor: R${{anticipate.new_value}} Status: {{anticipate.status}}</a></span>

            {% elif anticipate.status == 'denied' %}
            <li class="anticipate-item denied">
            <span><a href="/anticipate/{{anticipate.id}}">Venc. Antigo: {{anticipate.old_due_date}}, Novo Venc. {{anticipate.new_due_date}} Valor Antigo: R${{anticipate.original_value}} Novo Valor: R${{anticipate.new_value}} Status: {{anticipate.status}}</a></span>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    <div class="pagination">
        <span class="step-links">
            {% if anticipates.has_previous %}
                <a href="?page={{anticipates.previous_page_number}}"><i class="fas fa-arrow-left"></i></a>
            {% endif %}

            <span class="current">
                {{anticipates.number}} de {{anticipates.paginator.num_pages}}
            </span>

            {% if anticipates.has_next %}
                <a href="?page={{anticipates.next_page_number}}"><i class="fas fa-arrow-right"></i></a>
            {% endif %}
        </span>
    </div>
</div>

{% endblock %}
