{% extends 'base.html' %}

{% block title %}Pagamentos{% endblock %}

{% block content %}
<div class="offset-1 col-10 list-div">
    <h1>Pagamentos</h1>
    
    <a href="/newpayment">    
        <div class="col-2 add-div">
            <i class="fas fa-plus"></i> Adicionar Pagamentos
        </div>
    </a>
    
    <ul class="payment-list">
        {% for payment in payments %}
        {% if payment.paid == False %}
            <li class="payment-item">
            <span><a href="/payment/{{payment.id}}">Razao social: {{payment.provider_social_reason}} Vencimento: {{payment.due_date}} Valor: R${{payment.original_value}}</a></span>
        {% else %}
            <li class="payment-item done">
            <span><a href="/payment/{{payment.id}}">Razao social: {{payment.provider_social_reason}} Vencimento: {{payment.due_date}} Valor: R${{payment.original_value}} Pago em {{payment.payment_date}}</a></span>
        {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% comment %} <div class="pagination">
        <span class="step-links">
            {% if tasks.has_previous %}
                <a href="?page={{tasks.previous_page_number}}"><i class="fas fa-arrow-left"></i></a>
            {% endif %}

            <span class="current">
                {{tasks.number}} de {{tasks.paginator.num_pages}}
            </span>

            {% if tasks.has_next %}
                <a href="?page={{tasks.next_page_number}}"><i class="fas fa-arrow-right"></i></a>
            {% endif %}

        </span>
    </div> {% endcomment %}
</div>

{% endblock %}
